$darkmode: true;
$primary: #33e36a;
$onPrimary: #003911;
$primaryContainer: #00531c;
$onPrimaryContainer: #67ff8c;
$secondary: #b8ccb5;
$onSecondary: #243425;
$secondaryContainer: #3a4b3a;
$onSecondaryContainer: #d4e8d1;
$tertiary: #a1ced6;
$onTertiary: #00363d;
$tertiaryContainer: #1f4d54;
$onTertiaryContainer: #bdebf3;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F100F;
$background: #0F100F;
$onBackground: #e1e3dd;
$surface: #1a1c19;
$onSurface: #e1e3dd;
$surfaceVariant: #414940;
$onSurfaceVariant: #c2c9be;
$outline: #8b9389;
$shadow: #000000;
$inverseSurface: #e1e3dd;
$inverseOnSurface: #2e312d;
$inversePrimary: #006e29;
