$darkmode: true;
$primary: #84cfff;
$onPrimary: #00344d;
$primaryContainer: #004c6e;
$onPrimaryContainer: #c6e7ff;
$secondary: #b7c9d8;
$onSecondary: #21323e;
$secondaryContainer: #384956;
$onSecondaryContainer: #d2e5f5;
$tertiary: #cdc0e9;
$onTertiary: #342b4b;
$tertiaryContainer: #4b4263;
$onTertiaryContainer: #eaddff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1012;
$background: #0F1012;
$onBackground: #e1e2e5;
$surface: #191c1e;
$onSurface: #e1e2e5;
$surfaceVariant: #41474d;
$onSurfaceVariant: #c1c7ce;
$outline: #8b9197;
$shadow: #000000;
$inverseSurface: #e1e2e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #006591;
